<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel='icon' href= "images/weather.png" >
    <link rel = 'stylesheet' href= "/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class = 'potrait' src = "images/img-2.jpg" alt= "about_us">
		<p>This page gives information about weather when given a location</p>
		<p>This site uses data from weather stack</p>
		<p> Created by {{name}} </p>
    </div>
	
    
    {{>footer}}
</body>
</html>